<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Nusan Software</title>
</head>
<body>
  <!--Load the navbar-->
  <div id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e8f2fa">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html"><img src="../img/LogoCompleto100.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="index.html">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="reports.html">Partes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="reportForm.html">Nuevo Parte</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="clients.html">Clientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" style="color: #5a297e;" aria-current="page" href="employees.html">Empleados</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right" id="navUser">
            <!--Load with JS-->
          </ul>
          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Confirmar acción</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  ¿Estás seguro de cerrar la sesión?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                  <button type="button" class="btn btn-primary" onclick="leanLogOut()">Sí</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="pb-5">
      <h2 class="visually-hidden">hidden</h2>
    </div>
  </div>

  <!--Container-->
  <div class="container">
    <h1 class="text-primary text-center">Empleados</h1>
    <hr class="bg-primary">
    
    <!-- order and search -->
    <div class="pb-3">
      <div class="form-row row mb-2">
        <div class="input-group col-sm col-md">
          <a href="newEmployee.html">
            <button class="btn btn-outline-secondary">
              Nuevo Empleado
            <img src="../../node_modules/bootstrap-icons/icons/plus.svg" alt="">
            </button>
          </a>
        </div>
        <div class="input-group col-sm col-md" id="groupBySelect">
          <div class="input-group-addon">
            <a class="btn border">
              <img src="../../node_modules/bootstrap-icons/icons/list-ul.svg" alt="">
            </a>
          </div>
          <select class="form-select" aria-label="Default select example" id="orderBySelect" onchange="employees()">
            <option value="" selected>Ordenar...</option>
            <option value="1">ID</option>
            <option value="2">Nombre</option>
            <option value="3">Apellidos</option>
          </select>
        </div>
      </div>
      <div class="form-row row mb-2">
        <div class="input-group col-sm col-md">
          <div class="input-group-addon">
            <a class="btn border">
              <img src="../../node_modules/bootstrap-icons/icons/search.svg" alt="">
            </a>
          </div>
          <input type="state" class="form-control" id="search1" placeholder="Nombre" onkeyup="searchFunction1()">
        </div>
        <div class="input-group col-sm col-md">
          <div class="input-group-addon">
            <a class="btn border">
              <img src="../../node_modules/bootstrap-icons/icons/search.svg" alt="">
            </a>
          </div>
          <input type="state" class="form-control" id="search2" placeholder="DNI" onkeyup="searchFunction2()">
        </div>
      </div>     
    </div>

    <div class="row" id="contenido">
      <!--Contenido de employees.js-->
    </div>
    
  </div>
  <!--./Container-->


  <!-- Modal -->
  <div class="modal fade" id="editEmployeeModal" tabindex="-1" aria-labelledby="modalEditReport" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar Empleado</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="mb-4">
            <div class="form-row row ">
              <div class="form-group col-sm mb-2">
                <label for="selectClients">
                  <img src="../../node_modules/bootstrap-icons/icons/person-fill.svg" alt="">
                  ID
                </label>
                <input type="text" class="form-control" id="idEdit" disabled="disabled">
              </div>
              <div class="form-group col-sm mb-2">
                <label for="inputName">
                  <img src="../../node_modules/bootstrap-icons/icons/file-earmark-person-fill.svg" alt="">
                  Nombre
                </label>
                <input type="text" class="form-control" id="inputName">
              </div>
              <div class="form-group col-sm">
                <label for="inputLastName">
                  <img src="../../node_modules/bootstrap-icons/icons/file-earmark-person-fill.svg" alt="">
                  Apellidos
                </label>
                <input type="text" class="form-control" id="inputLastName">
              </div>
            </div>
            <div class="form-row row">
              <div class="form-group col-sm mb-2">
                <label for="inputEmail">
                  <img src="../../node_modules/bootstrap-icons/icons/envelope-open-fill.svg" alt="">
                  Email
                </label>
                <input type="email" class="form-control" id="inputEmail" placeholder="example@example.com">
              </div>
              <div class="form-group col-sm mb-2">
                <label for="inputDni">
                  <img src="../../node_modules/bootstrap-icons/icons/credit-card-2-front-fill.svg">
                  DNI
                </label>
                <input type="text" class="form-control" id="inputDni">
              </div>
              <div class="form-group col-sm mb-2">
                <label for="inputTel">
                  <img src="../../node_modules/bootstrap-icons/icons/telephone-fill.svg" alt="">
                  Teléfono
                </label>
                <input type="tel" class="form-control" id="inputTel">
              </div>
            </div>
            <div class="form-row row">
              <div class="form-group col-sm mb-2">
                <label for="inputRol">
                  <img src="../../node_modules/bootstrap-icons/icons/people-fill.svg" alt="">
                  Rol
                </label>
                <select class="form-select" id="inputRol">
                    <option>Empleado</option>
                    <option>Admin</option>
                  </select>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-outline-danger" id="btnDeleteModal" onclick="btnDeleteEmployeeModal()">
            Eliminar
        </button>
        <div>
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-outline-primary" onclick="saveChanges()">Guardar cambios</button>
        </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.Modal-->

  <!--deleteModal-->
  <div class="modal fade" id="deleteEmpModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmar acción</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¿Quieres eliminar este empleado?
        </div>
        <div class="modal-footer" id="btnDeleteEmp">
          <!--contenido js-->
        </div>
      </div>
    </div>
  </div>
  <!--./deleteModal-->
  
  <!--Icono "up"-->
  <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top">
    <img src="../../node_modules/bootstrap-icons/icons/caret-up-fill.svg">
  </a>

  <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../../node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
  <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../js/global.js"></script>
  <script src="../js/employees.js"></script>
</body>
</html>