<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="../css/styles.css">
      <title>Nusan Software</title>
      
  </head>
  <body>
    <!--Load the navbar-->
    <div id="navbar"></div>

    <!-- Container -->
    <div class="container mt-5">
      <div class="row justify-content-center">
        <!-- Title -->
        <div class="text-center mb-3" id="contenedorImg">
          <img id="logoNusan" src="../img/LogoCompleto300.png" alt="Responsive image">
          
        </div>
        <hr class="bg-primary">
        <!-- Form -->
        <form class="col-sm-6 mt-4">
          <div class="mb-3">
            <label for="InputEmail" class="form-label">
              <span><img src="../../node_modules/bootstrap-icons/icons/person-fill.svg" alt=""></span>
              Email
            </label>
            <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="email@example.com" required>
            <div id="emailHelp" class="form-text">No compartiremos su email con nadie.</div>
          </div>
          <div class="mb-3">
            <label for="InputPassword" class="form-label">
              <span><img src="../../node_modules/bootstrap-icons/icons/lock-fill.svg" alt=""></span>
              Contraseña
            </label>
            <input type="password" class="form-control" id="InputPassword" placeholder="*******" required>
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Recordarme</label>
          </div>
          <button type="submit" class="btn btn-primary" id="btnLogin" onclick="confirmLogin()">Iniciar sesión</button>
        </form>
        <!-- /.Form -->
      </div>
    </div>
    <!-- /.Container -->
    
    
   
      <!--Scripts-->
      <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
      <script src="../../node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
      <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="../index.js"></script>
  </body>
</html>