<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Nusan Software</title>
</head>
<body>
  <!--Load the navbar-->
   <div id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e8f2fa">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html"><img src="../img/LogoCompleto100.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="index.html">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="reports.html">Partes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="reportForm.html">Nuevo Parte</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" style="color: #5a297e;" aria-current="page" href="clients.html">Clientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="employees.html">Empleados</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right" id="navUser">
            <!--Load with JS-->
          </ul>
          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Confirmar acción</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  ¿Estás seguro de cerrar la sesión?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                  <button type="button" class="btn btn-primary" onclick="leanLogOut()">Sí</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="pb-5">
      <h2 class="visually-hidden">hidden</h2>
    </div>
   </div>

    <!-- Container -->
    <div class="container mb-5">

      <h1 class="text-center text-primary">Nuevo Cliente</h1>
      <hr class="bg-primary">

      <!--Form Report-->
      <form class="needs-validation pt-3" novalidate>

        <div class="form-row row">
          <div class="form-group col-sm mb-2">
            <label for="inputName">
              <img src="../../node_modules/bootstrap-icons/icons/file-earmark-person-fill.svg" alt="">
              Nombre
            </label>
            <input type="text" class="form-control" id="inputName">
          </div>
          <div class="form-group col-sm">
            <label for="inputLastName">
              <img src="../../node_modules/bootstrap-icons/icons/file-earmark-person-fill.svg" alt="">
              Apellidos
            </label>
            <input type="text" class="form-control" id="inputLastName">
          </div>
        </div>
        <div class="form-row row">
          <div class="form-group col-sm mb-2">
            <label for="inputEmail">
              <img src="../../node_modules/bootstrap-icons/icons/envelope-open-fill.svg" alt="">
              Email
            </label>
            <input type="email" class="form-control" id="inputEmail" placeholder="example@example.com">
          </div>
          <div class="form-group col-sm mb-2">
            <label for="inputDni">
              <img src="../../node_modules/bootstrap-icons/icons/credit-card-2-front-fill.svg">
              DNI
            </label>
            <input type="text" class="form-control" id="inputDni">
          </div>
          <div class="form-group col-sm mb-2">
            <label for="inputTel">
              <img src="../../node_modules/bootstrap-icons/icons/telephone-fill.svg" alt="">
              Teléfono
            </label>
            <input type="tel" class="form-control" id="inputTel">
          </div>
        </div>
        <div class="form-row row">
          <div class="form-group col-sm mb-2">
            <label for="inputAddress">
              <img src="../../node_modules/bootstrap-icons/icons/house-fill.svg" alt="">
              Dirección
            </label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
          </div>
          <div class="form-group col-sm mb-2">
            <label for="inputCity">
              <img src="../../node_modules/bootstrap-icons/icons/geo-alt-fill.svg" alt="">
              Ciudad
            </label>
            <input type="text" class="form-control" id="inputCity">
          </div>
        </div>
        <div class="row justify-content-between">
          <a href="../views/employees.html" class="btn btn-outline-secondary mt-3 col-md-2 col-lg-1">
            <img src="../../node_modules/bootstrap-icons/icons/arrow-left.svg">
              Volver
          </a>
          <button type="submit" class="btn btn-outline-primary mt-3 col-md-2 col-lg-1">Guardar</button>
        </div>
      </form>
      <!--Form final-->
    </div>
    <!-- /.Container -->

    <!--Icono "up"-->
<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top">
  <img src="../../node_modules/bootstrap-icons/icons/caret-up-fill.svg">
</a>

      <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
      <script src="../../node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
      <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="../js/global.js"></script>
      <script src="../js/newClient.js"></script>

</body>
</html>