<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
      <title>Nusan Software</title>
  </head>
  <body>
    <!--Load the navbar-->
   <div id="navbar"></div>

   <!-- Container -->
   <div class="container mt-5 mb-5">

     <h1 class="text-center mb-4">Nuevo Parte</h1>

     <!--Form Report-->
     <form class="needs-validation" novalidate>
       <h3>Parte</h3>
       <hr>
       <div class="form-row row">
         <div class="form-group col-sm">
           <label for="inputDateStart" class="form-label">Fecha parte *</label>
           <input type="date" class="form-control" id="inputDateStart" value="" required>
           <div class="invalid-feedback">
             Selecciona una fecha.
           </div>
         </div>
         <div class="form-group col-sm">
           <label for="inputDateApointment">Fecha cita</label>
           <input type="date" class="form-control" id="inputDateApointment">
         </div>
       </div>
       <div class="form-row row">
         <div class="form-group col-sm">
           <label for="inputPriority">Prioridad</label>
           <select class="form-control">
             <option>Sin definir</option>
             <option>Alta</option>
             <option>Media</option>
             <option>Baja</option>
           </select>
         </div>
         <div class="form-group col-sm">
           <label for="inputState">Estado *</label>
           <select class="form-control" required>
             <option>Abierto</option>
             <option>Pendiente</option>
             <option>Cerrado</option>
           </select>
         </div>
       </div>
       <div class="form-row row">
         <div class="form-group col-sm">
           <label for="inputMachine">Aparato</label>
           <input type="text" class="form-control" id="inputMachine">
         </div>
         <div class="form-group col-sm">
           <label for="inputBrand">Marca</label>
           <input type="text" class="form-control" id="inputBrand">
         </div>
       </div>
       <div class="form-group">
         <label for="FormControlTextarea">Observaciones</label>
         <textarea class="form-control" id="FormControlTextarea" rows="3"></textarea>
       </div>
       
       <!-- Cliente -->
       <h3 class="mt-5">Cliente</h3>
       <hr>
       <div class="form-row row">
         <div class="form-group col-sm">
           <label for="selectClients">Clientes *</label>
           <select class="form-control" name="selectClients" id="selectClients">
             
           </select>
         </div>
         <div class="form-group col-sm">
           <label for="inputName">Nombre</label>
           <input type="text" class="form-control" id="inputName">
         </div>
         <div class="form-group col-sm">
           <label for="inputLastName">Apellidos</label>
           <input type="text" class="form-control" id="inputLastName">
         </div>
       </div>
       <div class="form-row row">
         <div class="form-group col-sm">
           <label for="inputEmail">Email</label>
           <input type="email" class="form-control" id="inputEmail" placeholder="example@example.com">
         </div>
         <div class="form-group col-sm">
           <label for="inputDni">DNI</label>
           <input type="text" class="form-control" id="inputDni">
         </div>
         <div class="form-group col-sm">
           <label for="inputTel">Teléfono</label>
           <input type="tel" class="form-control" id="inputTel">
         </div>
       </div>
       <div class="form-row row">
         <div class="form-group col-sm">
           <label for="inputAddress">Dirección</label>
           <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
         </div>
         <div class="form-group col-sm">
           <label for="inputCity">Ciudad</label>
           <input type="text" class="form-control" id="inputCity">
         </div>
       </div>

       <!--Empleado-->
       <h3 class="mt-5">Empleado</h3>
       <hr>
       <div class="form-row row">
         <div class="form-group col-sm">
           <label for="selectEmployees">Empleados</label>
           <select class="form-control" id="selectEmployees">
             <option>Nuevo</option>
           </select>
         </div>
         <div class="form-group col-sm">
           <label for="inputDateEnd">Fecha fin</label>
           <input type="date" class="form-control" id="inputDateEnd">
         </div>
       </div>
       <div class="col-12">
         <button type="submit" class="btn btn-primary mt-3">Guardar</button>
       </div>
     </form>
     <!--Form final-->
   </div>
   <!-- /.Container -->
   
      <!--Scripts-->
      <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
      <script src="../../node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
      <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="../index.js"></script>
      <script>
          function getEmp(){
              urlString = 'http://localhost:8080/allClients';
              
              $.ajax({method: "GET", url:urlString})
              .done(function(response){
                categoryDropDown = $("#selectClients");
                $.each(response, function(index, category){
                    alert(index + ": "+category.id + "-" + category.name);
                });

              }).fail(function(){
                  alert("Error connection to the server");
              }).always(function(){
                  alert("Always executed");
              });
          }
      </script>
  </body>
</html>