<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <title>Nusan Software</title>
</head>
<body>
    <div id="navbar"></div>
    <!-- Container -->
    <div class="container row mt-5 mb-5">
        <div class="col-sm-12">
          <table class="table table-hover table-condensed table-bordered">
            <tr>
              <td>Nombre</td>
              <td>Apelido</td>
              <td>Email</td>
              <td>Teléfono</td>
              <td>Editar</td>
              <td>Eliminar</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>
          
    </div>
        
    <!-- /.Container -->


      <script src="../../node_modules/jquery/dist/jquery.js"></script>
      <script src="../../node_modules/@popperjs/core/dist/umd/popper.js"></script>
      <script src="../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
      <script src="../index.js"></script>
</body>
</html>