<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <title>Nusan Software</title>
</head>
<body>
    <!--Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html">Nusan</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="reports.html">Partes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="reportForm.html">Nuevo Parte</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="clients.html">Clientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="employees.html">Empleados</a>
            </li>
          </ul>
          <!-- Button trigger modal -->
          <label for="Welcome">Bienvenido</label>
          <button type="button" class="btn btn-primary ms-lg-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Cerrar sesión
          </button>

          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Confirmar acción</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  ¿Estás seguro de cerrar la sesión?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                  <a href="login.html"><button type="button" class="btn btn-primary">Sí</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!--/.Navbar -->

    <!-- Container -->
    <div class="container mt-5 mb-5">

      <h1 class="text-center mb-4">Nuevo Parte</h1>

      <!--Form Report-->
      <form class="needs-validation" novalidate>
        <h3>Parte</h3>
        <hr>
        <div class="form-row row">
          <div class="form-group col-sm">
            <label for="inputDateStart" class="form-label">Fecha parte *</label>
            <input type="date" class="form-control" id="inputDateStart" value="" required>
            <div class="invalid-feedback">
              Selecciona una fecha.
            </div>
          </div>
          <div class="form-group col-sm">
            <label for="inputDateApointment">Fecha cita</label>
            <input type="date" class="form-control" id="inputDateApointment">
          </div>
        </div>
        <div class="form-row row">
          <div class="form-group col-sm">
            <label for="inputPriority">Prioridad</label>
            <select class="form-control">
              <option>Sin definir</option>
              <option>Alta</option>
              <option>Media</option>
              <option>Baja</option>
            </select>
          </div>
          <div class="form-group col-sm">
            <label for="inputState">Estado *</label>
            <select class="form-control" required>
              <option>Abierto</option>
              <option>Pendiente</option>
              <option>Cerrado</option>
            </select>
          </div>
        </div>
        <div class="form-row row">
          <div class="form-group col-sm">
            <label for="inputMachine">Aparato</label>
            <input type="text" class="form-control" id="inputMachine">
          </div>
          <div class="form-group col-sm">
            <label for="inputBrand">Marca</label>
            <input type="text" class="form-control" id="inputBrand">
          </div>
        </div>
        <div class="form-group">
          <label for="FormControlTextarea">Observaciones</label>
          <textarea class="form-control" id="FormControlTextarea" rows="3"></textarea>
        </div>
        
        <!-- Cliente -->
        <h3 class="mt-5">Cliente</h3>
        <hr>
        <div class="form-row row">
          <div class="form-group col-sm">
            <label for="selectClients">Clientes *</label>
            <select class="form-control" id="selectClients" required>
              <option>Nuevo</option>
            </select>
          </div>
          <div class="form-group col-sm">
            <label for="inputName">Nombre</label>
            <input type="text" class="form-control" id="inputName">
          </div>
          <div class="form-group col-sm">
            <label for="inputLastName">Apellidos</label>
            <input type="text" class="form-control" id="inputLastName">
          </div>
        </div>
        <div class="form-row row">
          <div class="form-group col-sm">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="example@example.com">
          </div>
          <div class="form-group col-sm">
            <label for="inputDni">DNI</label>
            <input type="text" class="form-control" id="inputDni">
          </div>
          <div class="form-group col-sm">
            <label for="inputTel">Teléfono</label>
            <input type="tel" class="form-control" id="inputTel">
          </div>
        </div>
        <div class="form-row row">
          <div class="form-group col-sm">
            <label for="inputAddress">Dirección</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
          </div>
          <div class="form-group col-sm">
            <label for="inputCity">Ciudad</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
        </div>

        <!--Empleado-->
        <h3 class="mt-5">Empleado</h3>
        <hr>
        <div class="form-row row">
          <div class="form-group col-sm">
            <label for="selectEmployees">Empleados</label>
            <select class="form-control" id="selectEmployees">
              <option>Nuevo</option>
            </select>
          </div>
          <div class="form-group col-sm">
            <label for="inputDateEnd">Fecha fin</label>
            <input type="date" class="form-control" id="inputDateEnd">
          </div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary mt-3">Guardar</button>
        </div>
      </form>
      <!--Form final-->
    </div>
    <!-- /.Container -->


      <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
      <script src="../../node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
      <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>