@media screen and (max-width: 320px) {
    #logoNusan{
      
      src: url("../img/locoCompleto170.png");
    }
    #back-to-top {
      position: fixed;
      bottom: 10px;
      right: 10px;
      display: none;
    }
}


/*Botón UP*/
#back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}

  