@media screen and (max-width: 320px) {
    #logoNusan{
      src: url("../img/locoCompleto170.png");
    }
    #back-to-top {
      position: fixed;
      bottom: 10px;
      right: 10px;
      display: none;
    }
}

body, html {
  margin: 0;
  padding: 0;
}

/*Botón UP*/
#back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}

/*Log in*/
.forgot-password{
  color: gray;
}
.forgot-password:hover{
  border-radius: 5px;
  background-color: rgb(187, 184, 184);
  color: white;
  padding: 2px;
}

.body{
  background-image: url("../img/degradado_fondo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/*End log in*/


/*NAV*/
ul>li {
  display: inline-block;
  padding: 0 0 0 5px;
  margin-left: -4px;
}

.navbar-nav .nav-link {
  font-weight:bold;
}

.nav-item a:hover {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  border-bottom: 3px solid rgb(30, 198, 218);
}

.nav-item a.active {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  border-bottom: 3px solid rgb(30, 198, 218);
}
/*End Nav*/


  